:root {
	--primaireKleur: #00704A; 
	--secundaireKleur: white;
	--tertaireKleur: #F2F2F2; 
	--quaternaireKleur: #243830;
}

* {
	font-family: sans-serif;
}

h2 {
	font-size: 1.1em;
}

p {
	font-size: 0.9em;
}


/* Navigatie - Header */
nav img {
	width: 20vw;
	height: 20vh;
}


/* Pagina 1 - Homepagina */
.inleiding {
	background-color: var(--primaireKleur, green);
	width: 100vw;
	height: 25vh;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

}

.inleiding h1 {
	color: var(--secundaireKleur);
	font-size: 1.2em;
}

.inleiding a, .groene_container a,button {
	text-decoration: none;
	border-radius: 20px;
	background-color: var(--secundaireKleur);
	color: black;
	border: none;
	font-size: 1em;
	
	height: 6.5vh;
	width: 80vw;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
}

.feestdagen_container {
	position: relative;
}

.feestdagen_container img {
	width: 100vw;
	height: 30vh;
}

.feestdagen_container h2 {
	position: absolute;
	color: var(--secundaireKleur);
	font-size: 1em;
	width: 29%;
	margin-left: 2.5%;
	font-weight: 500;
}

.groene_container {
	background-color: var(--primaireKleur, green);
	color: var(--secundaireKleur);
	border-radius: 10px;

	margin: 5%;
	width: 90vw;
	height: 65vh;
}

.groene_container img {
	width: 90vw;
	height: 30vh;
	border-radius: 10px 10px 0 0;
}

.groene_container h2, p, a {
	margin: 20px;
}

.groene_container iframe {
	width: 90vw;
	height: 30vh;
	border: none;
	border-radius: 10px 10px 0 0;
}

.grijze_container {
	background-color: var(--tertaireKleur);
	border-radius: 10px;

	margin: 5%;
	width: 90vw;
	height: 65vh;
}

.grijze_container img {
	width: 90vw;
	height: 30vh;
	border-radius: 10px 10px 0 0;
}

.grijze_container h2, p, a {
	margin: 20px;
}

.grijze_container a {
	text-decoration: none;
	border-radius: 20px;
	background-color: var(--primaireKleur);
	color: var(--secundaireKleur);
	
	height: 6.5vh;
	width: 80vw;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
}

.grijze_container article {
	background-color: var(--quaternaireKleur);
	color: var(--secundaireKleur);

	width: 90vw;
	height: 30vh;
	border-radius: 10px 10px 0 0;

	display: flex;
	align-items: center;
}

.grijze_container h3 {
	text-transform: uppercase;
	font-size: 2em;
	color: var(--secundaireKleur);

	width: 40vw;
	margin-left: 5%;
}